
  .footer {
     background-color: #545454;
     padding: 1px;
     border-radius: : 3px solid;
     text-decoration: none;
     text-align: center;
      font-family: Segoe UI;
     font-size: 10px;

   .img.icon {
         margin: 3px 50px 3px 50px;
     }
